* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;  
        font-family: 'Inter', sans-serif;  
        color: #0f172a;
}

body{
    font-size: 0.9rem;
    display: flex;
    flex-direction:column;
    min-height: 100vh;
}

button {
    cursor: pointer;
}

.google-header {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text-Link,
footer a {
    color: inherit;
    text-decoration: none;
}

.text-Link:hover,
footer a:hover {
    text-decoration: underline;
}

.nav-container-second .text-Link {
    display: none
}

.icon-Link {
    font-size: 1rem;
    color: inherit;
   
    width: 30px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 100%;
    display: grid;
    place-items: center;

}

.icon-Link:hover {
    background: rgb(233, 233, 233);
}


.img-button {
    border: none;
    background: transparent;

}

.img-button img {
    width: 30px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem 1rem;
}

.title-text {
    font-size: 3rem;
}

.input-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    border: 1px solid rgb(233, 233, 233);
    padding: 1rem;
    border-radius: 1rem;
    transition: .3s ease;
}

.input-bar input {
    flex: 1;
    border: none;
    outline: none;
    width: 100%;
    
}

.input-bar:hover,
.input-bar:focus-within {
    box-shadow: 2px 1px 5px .5px lightgray;
    transform: scale(1.005);

}


.input-bar div {
    display: flex;
    align-items: center;
    gap: 1rem;
}
/* I am not sure how to backslash elements in comments in CSS */
.input-icon {
    background: transparent;
    border: none;
}

.input-icon:hover {
    opacity: 60%;
}

.button-grid {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: .3 ease;
}

.button-grid button {
    padding: .5rem 1rem;
    border: 1px solid transparent;
    background: rgb(239, 238, 238);
    border-radius: .25rem;
   
}

.button-grid button:hover {
    border: 1px solid slategray;
    transform: scale(1.005);
}

.language-text {
    font-size: 0.7rem;
}

.language-link {
    color:blue;
    text-decoration: none;
    
}

.language-link:hover {
    text-decoration: underline;
    cursor: pointer;

}

footer {
    background: rgb(243, 243, 243);
    font-size: .6rem;
}

footer > div{
    padding: 1rem;
}

.footer-grid{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    gap: 2rem;
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 1rem;

}

@media (min-width: 640px) {
    .footer {
        font-size: .7rem
    }

    .footer-grid{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    }

    .nav-container-second .text-Link {
    display: block
}

}