:root {
    --color-accent: #5eead4;
    --color-highlight: #e2e8f0;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background: #1b2e3d;
    color: #92aac0;
    padding: 1rem;
}

.underlay {
    position:fixed;
    background: green;
    inset: 0;
}

header,
main,
footer {
    position: relative;
    z-index: 10;
}

header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
}

header h1,
header h4,
.lightText {
    color: var(--color-highlight)
}

header a {
    text-decoration: none;
}

header h1 {
    font-weight: 600;

}

header h4 {
    font-weight: 400;
}